<div class="text-element" id="welcome_bar_under_navigation">
A new approach to organizing your household chores
</div>
<section class="hero">
    <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pages-title">The simplest way to keep your home clean, is stick to a schedule.</h1>
        <h3 class="subtitle pages-subtitle">"Clutter is simply delayed decisions.
        When we really delve into the reasons 
        for why we can't let something go, there are only two: an attachment to the past or a fear 
        for the future." - Marie Kondo </h3>
    </div><!-- container with centered text -->
    </div><!-- hero-body -->
</section><!-- hero section -->

<div class="container">
  <div class="row columns">
    <div class="column is-one-third">
    <div class="card large">
    <div class="card-image">
      <figure class="image">
        <%= image_tag("office_sitting_room.jpg", alt: "image") %>
      </figure>
    </div><!-- card-image -->
    <div class="card-content">
      <div class="media">
        <div class="media-center">
        </div><!-- media-left -->
        <div class="media-content">
          <p class="title is-4 no-padding">Destroy Clutter</p>
          <p><span class="title is-6"></span></p>
          <p class="subtitle is-6">Be Brutal</p>
        </div><!-- media-content -->
      </div><!-- media -->
      <div class="content">
        "Your home should tell the story of who you are, 
        & be a collection of what you love" - Nate Berkus
      </div><!-- content -->
    </div><!-- column is one third -->
  </div>
</div>
  <div class="column is-one-third">
    <div class="card large">
      <div class="card-image">
        <figure class="image">
          <%= image_tag("kitchen_table.jpg", alt: "image-of-table") %>
        </figure>
      </div><!--card-image -->
      <div class="card-content">
        <div class="media">
          <div class="media-center">
          </div><!-- media-left-->
          <div class="media-content">
           <p class="title is-4 no-padding">Schedule Chores</p>
           <p><span class="title is-6"><a href="#"></a></span></p>
           <p class="subtitle is-6">Tidy</p>
          </div><!-- media-content -->
        </div><!-- media-left-->
        <div class="content">
          "When your environment is clean you feel happy, motivated and healthy." - Lailah Gifty Akita
        <div class="background-icon"><span class="icon-facebook"></span></div>
      </div><!-- content -->
    </div>
  </div>
</div>
<div class="column is-one-third">
  <div class="card large">
    <div class="card-image">
      <figure class="image">
        <%= image_tag("staircase_open.jpg", alt: "image-staircase") %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-center">
        </div>
        <div class="media-content">
          <p class="title is-4 no-padding">Live Happy</p>
          <p><span class="title is-6"><a href="#"></a></span></p>
          <p class="subtitle is-6">Minimilistic</p>
        </div>
      </div>
      <div class="content">
        "Keep your house clean enough to be healthy but dirty enough to be happy."
      <div class="background-icon"><span class="icon-barcode"></span></div>
    </div>
   </div>
  </div>
 </div>
</div>




  </div><!-- row columns -->
</div><!-- container -->
