// default css 

body {
    background-color: #FFF;
}


// welcome page pages#home 

#welcome_bar_under_navigation {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    color: #444;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-style: normal;
    padding: 8px;
    right: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background-color: #F0F0F1;
}
.pages-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #444;
    font-style: italic;
    font-size: 20px;
}