<section class="section">
  <div class="container">
    <h2 class="title chore-page">Daily Chores</h2>
      
    <div class="columns"> 
      <div class="column main-chore">
      <div class="notification">
        <h3 class="subtitle tag-title">Morning </h3>
          <ul>
            <li class="chore-list">
              <label class="checkbox"><input type="checkbox">Unload Dishwasher</label>
            </li>
            <li class="chore-list">
              <label class="checkbox"><input type="checkbox">Wipe Down Counters</label>
            </li>
            <li class="chore-list">
              <label class="checkbox"><input type="checkbox">Meal Prep</label>
            </li>
            <li class="chore-list">
              <label class="checkbox"><input type="checkbox">Clear Breakfast Dishes</label>
            </li>
          </ul>
        </div><!-- notification -->
      </div><!-- column -->
      <div class="column main-chore">
      <div class="notification">
        <h3 class="subtitle tag-title">Afternoon </h3>
            <ul>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Unload Dishwasher</label>
              </li>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Unload Dishwasher</label>
              </li>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Unload Dishwasher</label>
              </li>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Unload Dishwasher</label>
              </li>
            </ul>
          </div><!-- notification -->
      </div><!-- column2-->
      <div class="column main-chore">
        <div class="notification">
        <h3 class="subtitle tag-title">Evening </h3>
            <ul>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Wipe Down Counter</label>
              </li>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Unload Dishwasher</label>
              </li>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Meal Prep</label>
              </li>
              <li class="chore-list">
                <label class="checkbox"><input type="checkbox">Clear Breakfast</label>
              </li>
            </ul>
          </div>
      </div><!-- column3-->
    </div><!-- columns -->
  </div><!-- container -->
</section><!-- section-->