<section class="section cards">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column img1 toaster is-quarter">
      <% @chore.categories.each do |category| %>
      <p><%= category.name %></p>
      <% end %>
      </div><!-- column img1 toaster -->
      <div class="column img2 is-quarter">
      </div><!-- column img2 -->
    </div><!-- columns is-multiline -->
  </div><!--container -->
</section><!-- end of the section cards-->

