<nav class="navbar is-fixed">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">LOGO</a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div><!-- navbar-brand -->

      <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item is-active">Home</a>
        <a href="#" class="navbar-item">Chores</a>
        <a href="#" class="navbar-item">Rooms</a>
        <a href="#" class="navbar-item">Family</a>
      </div><!-- navbar-end -->
      </div>
  </div><!-- container -->
</nav>

