<nav class="navbar is-fixed">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'CHORES COMPLETE', root_path, class: 'navbar-item' %>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div><!-- navbar-brand -->
    
      <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item is-active">Subscribe</a>
        <a href="#" class="navbar-item">Login</a>
        <a href="#" class="navbar-item is-active">Home</a>
        <%= link_to "Chores", new_chore_path, class: "navbar-item" %>
        <a href="#" class="navbar-item">Rooms</a>
        <a href="#" class="navbar-item">Family</a>
      </div><!-- navbar-end -->
      </div>
  </div><!-- container -->
</nav>

